#titulo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100px;
}

#formulario {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#resultado {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
